#root {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.profile__name {
  font-weight: 700;
  float: left;

}

.profile__birth {
   font-weight: 700;
   padding-left: 80px;
  
}